<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="CDVSceneDelegate">
            <param name="ios-package" value="CDVSceneDelegate" />
        </feature>
    </config-file> 
    <config-file target="*-Info.plist" parent="UIApplicationSceneManifest">
        <dict>
            <key>UIApplicationSupportsMultipleScenes</key>
            <false/>
            <key>UISceneConfigurations</key>
            <dict>
                <key>UIWindowSceneSessionRoleApplication</key>
                <array>
                    <dict>
                        <key>UISceneConfigurationName</key>
                        <string>Default Configuration</string>
                        <key>UISceneDelegateClassName</key>
                        <string>CDVSceneDelegate</string>
                        <key>UISceneStoryboardFile</key>
                        <string>Main</string>
                    </dict>
                </array>
            </dict>
        </dict>
    </config-file> 
    <header-file src="src/ios/CDVSceneDelegate.h" />
    <source-file src="src/ios/CDVSceneDelegate.m" />
    <header-file src="src/ios/CDVSceneDelegate+Commands.h" />
    <source-file src="src/ios/CDVSceneDelegate+Commands.m" /> 
    <framework src="CoreGraphics.framework" />
    <framework src="UIKit.framework" />
</platform>